<nav class="navbar navbar-expand-lg fixed-top px-3" [ngClass]="{'scrolled': isScrolled}" id="mainNavbar">

    <div class="container">

        <!-- Logo -->
        <a class="navbar-brand fw-bold me-auto" href="#">
            <span class="logo-img"><img src="logo-png.png" alt=""></span>
        </a>
        <ul class="navbar-nav mx-auto desktop-menu">
            <li class="nav-item">
                <a class="nav-link" href="#home" data-section="home" (click)="closeMenu()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about" data-section="about" (click)="closeMenu()">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#journey" data-section="journey" (click)="closeMenu()">Journey</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#expertise" data-section="expertise" (click)="closeMenu()">Expertise</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#achievements" data-section="achievements"
                    (click)="closeMenu()">Achievements</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#certifications" data-section="certifications"
                    (click)="closeMenu()">Certifications</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#blog" data-section="contact" (click)="closeMenu()">Blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact" data-section="contact" (click)="closeMenu()">Contact</a>
            </li>

        </ul>
        <!-- Mobile Toggle -->
        <button class="navbar-toggler border-0" type="button" (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

    </div>

    <!-- Mobile Overlay -->
    <div class="mobile-overlay" *ngIf="isMenuOpen" (click)="closeMenu()"></div>

    <!-- Sliding Menu -->
    <div class="mobile-menu" [class.open]="isMenuOpen">
        <ul class="navbar-nav text-start">
            <li class="nav-item">
                <a class="nav-link" href="#home" data-section="home" (click)="closeMenu()">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about" data-section="about" (click)="closeMenu()">About</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#journey" data-section="journey" (click)="closeMenu()">Journey</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#expertise" data-section="expertise" (click)="closeMenu()">Expertise</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#achievements" data-section="achievements"
                    (click)="closeMenu()">Achievements</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#certifications" data-section="certifications"
                    (click)="closeMenu()">Certifications</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#blog" data-section="contact" (click)="closeMenu()">Blog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#contact" data-section="contact" (click)="closeMenu()">Contact</a>
            </li>

        </ul>
        <!-- Close Button -->
        <button class="menu-close-btn" (click)="closeMenu()">
            <i class="bi bi-x-lg"></i>
        </button>



    </div>

</nav>