.hero-section {
  min-height: 100vh;
  padding-top: 120px;
  padding-bottom: 100px;
  background:
    /* Warm yellow glow (top-right) */
    radial-gradient(
      circle at 8% 50%,
      rgba(244, 146, 0, 0.14) 0%,
      rgba(244, 180, 0, 0.06) 10%,
      rgba(244, 180, 0, 0.03) 15%,
      transparent 90%
    ),
    radial-gradient(
      circle at 90% 80%,
      rgba(244, 146, 0, 0.14) 0%,
      rgba(244, 180, 0, 0.06) 10%,
      rgba(244, 180, 0, 0.03) 15%,
      transparent 90%
    ),
    /* Blue center glow */
    radial-gradient(
      circle at 40% 75%,
      rgba(6, 26, 54, 0.6) 0%,
      rgba(8, 20, 45, 0.8) 40%,
      rgba(5, 11, 26, 1) 90%
    ),
    #050B1A;
  color: var(--text-primary);
}

/* ----------------------------
   Profile Circle Neon
----------------------------- */

.profile-wrapper {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 3px;
  background: radial-gradient(circle, #f48a007f 0%, #8b5a00c1 80%);
  box-shadow:
    0 0 40px rgba(244, 180, 0, 0.2),
    0 0 60px rgba(244, 180, 0, 0.2);
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/* ----------------------------
   Status Pill
----------------------------- */

.status-pill {
  margin-top: 10px;  
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  border-radius: 50px;
  border: 1px solid rgba(244, 180, 0, 0.5);
  color: var(--accent-yellow);
  font-size: 0.7rem;
  letter-spacing: 1px;
  backdrop-filter: blur(8px);
}

.dot {
  width: 8px;
  height: 8px;
  background: var(--accent-yellow);
  border-radius: 50%;
  position: relative;

  animation: pulse 1.5s ease-in-out infinite;
}

/* ----------------------------
   Name Styling
----------------------------- */

.hero-name {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 1px;
}

.hero-name span {
  color: var(--accent-yellow);
}

/* ----------------------------
   Subtitle
----------------------------- */

.hero-subtitle {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.4rem;
  color: var(--text-muted);
  span{
    font-size: 0.9rem;
    color: var(--text-muted);
    color: var(--text-muted2);
  }
}

/* ----------------------------
   Stats
----------------------------- */

.stats h4 {
  font-weight: 700;
  color: var(--accent-yellow);  
  margin-bottom: 0px;
}
.stats p{
    color: var(--text-muted);
  }

/* ----------------------------
   Buttons
----------------------------- */

.btn-primary-custom {
  background: linear-gradient(45deg,
    var(--accent-yellow),
    var(--accent-yellow-light));
  border: none;
  color: #000;
  padding: 12px 28px;
  border-radius: 12px;
  font-weight: 500;
  transition: all 0.25s ease;
}

.btn-primary-custom:hover {
  box-shadow: 0px 0px 25px rgba(244, 180, 0, 0.4);  
}

.btn-outline-custom {
  border: 1px solid var(--accent-yellow);
  color: var(--accent-yellow);
  padding: 12px 28px;
  border-radius: 12px;
  background: transparent;
  transition: all 0.3s ease;
}

.btn-outline-custom:hover {
  background: rgba(244, 180, 0, 0.1);
}

/*--------------------------
   Anmations
  --------------------------*/
  @keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 6px rgba(244, 180, 0, 0.6);
    opacity: 0.7;
  }

  50% {
    transform: scale(1.1);
    box-shadow: 0 0 16px rgba(244, 180, 0, 0.9);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 6px rgba(244, 180, 0, 0.6);
    opacity: 0.7;
  }
}


/* ----------------------------
   Responsive
----------------------------- */

@media (max-width: 768px) {

  .hero-name {
    font-size: 2.8rem;
  }

  .profile-wrapper {
    width: 160px;
    height: 160px;
  }
}
