.social-floating {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 8px;

  padding: 10px 5px;

  background: rgba(10, 25, 45, 0.85);
  backdrop-filter: blur(10px);

  border-left: 1px solid rgba(82, 204, 249, 0.30);
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;

  z-index: 1000;
}

.social-item {
  width: 38px;
  height: 38px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #2d88e39f;
  font-size: 20px;

  border-radius: 8px;

  transition: all 0.3s ease;
}

.social-item:hover {
  color: #facc15;
  transform: translateX(-6px);
}

.social-item:hover i {
  filter: drop-shadow(0 0 6px rgba(250, 204, 21, 0.6));
}
