<app-navbar></app-navbar>
<app-hero></app-hero>
<app-about></app-about>
<app-journey></app-journey>
<app-expertise></app-expertise>
<app-achievements></app-achievements>
<app-contact></app-contact>
<app-scroll-top></app-scroll-top>


<!-- Social Media Links -->
<div class="social-floating">

    <a href="#" target="_blank" class="social-item">
        <i class="bi bi-facebook"></i>
    </a>

    <a href="#" target="_blank" class="social-item">
        <i class="bi bi-instagram"></i>
    </a>

    <a href="#" target="_blank" class="social-item">
        <i class="bi bi-whatsapp"></i>
    </a>

    <a href="#" target="_blank" class="social-item">
        <i class="bi bi-youtube"></i>
    </a>

</div>