<section class="expertise-section">

    <div class="container">

        <div class="row text-center mb-5">
            <div class="col-sm-12">
                <p class="section-label" #headingEl [@headingAnim]="headingVisibility[0] ? 'visible' : 'hidden'">ABOUT
                    ME</p>

                <h2 class="section-title" #headingEl [@headingAnim]="headingVisibility[1] ? 'visible' : 'hidden'">
                    A Journey of Continuous
                    <span>Evolution</span>
                </h2>
            </div>
        </div>

        <div class="row g-4 px-lg-5 mt-3">

            <div class="col-md-6 col-lg-4" *ngFor="let item of expertiseList; let i = index">

                <div #cardRef class="expertise-card" [@cardReveal]="cardVisibility[i] ? 'visible' : 'hidden'">

                    <div class="icon-box">
                        <i class="bi" [ngClass]="item.icon"></i>
                    </div>

                    <h5>{{ item.title }}</h5>
                    <p>{{ item.subtitle }}</p>

                </div>

            </div>

        </div>
        <!-- Leadership Capabilities -->

        <div class="leadership-section mt-5 px-lg-5">

            <p class="section-subtitle text-center mb-5">
                LEADERSHIP CAPABILITIES
            </p>

            <div class="row g-4">

                <div class="col-md-6 col-lg-4" *ngFor="let item of leadershipList; let i = index">
                    <div #capRef class="leadership-card"
                        [@sideReveal]="capVisibility[i] ? 'visible' : (i % 2 === 0 ? 'hiddenLeft' : 'hiddenRight')">
                        <i class="bi" [ngClass]="item.icon"></i>
                        <span>{{ item.title }}</span>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <!-- Section Ending Line -->
    <div class="section-divider"></div>

</section>